[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
gunicorn = "*"
django = "*"
whitenoise = "*"
django-on-heroku = "*"
toml = "*"
pycodestyle = "*"
autopep8 = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-dotenv = "*"
djangorestframework = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
